.about_wrap{
    width: 100%;
    height: auto;
    padding: 50px;;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.about_content{
    width: 100%;
    display: flex;
    text-align: left;
    gap: 4%;
    margin-top: 50px;
}

.about_content-container{
    max-width: 48%;
}

.about_content p {
    margin-top: 20px;
}

.about_img{
    width: 100%;
    max-width: 48%;
    height: auto;
}